<section class="gestion">
    <h2>Gestion</h2>
    <form [formGroup]="projectsForm" (ngSubmit)="onSubmit()">
      <label for="title">Nombre</label>
      <input class="margin" type="text" id="name" formControlName="name" placeholder="Nombre" />

      <label for="cover">Descripcion</label>
      <input class="margin" type="text" id="description" formControlName="description" placeholder="Descripcion" />

      <label for="author">Gitlab</label>
      <input class="margin" type="text" id="URL" formControlName="URL" placeholder="Gitlab"/>

      <label for="company">Enlace Imagen</label>
      <input class="margin" type="text" id="image" formControlName="image" placeholder="Enlace Imagen"/>
      <button class="margin" type="submit">Actualizar</button>

      <button class="margin" *ngIf="projectsID" (click)="delete()">Borrar Proyecto</button>

    </form>
  </section>
