<h2>Gestion</h2>
<section class="gestion">
    <form [formGroup]="projectsForm" (ngSubmit)="onSubmit()">
      <label for="title">Nombre</label>
      <input type="text" id="name" formControlName="name" placeholder="Nombre" />
      <label for="cover">Descripcion</label>
      <input type="text" id="description" formControlName="description" placeholder="Descripcion" />
      <label for="author">Gitlab</label>
      <input
        type="text"
        id="URL"
        formControlName="URL"
        placeholder="Gitlab"
      />
      <label for="company">Enlace Imagen</label>
      <input
        type="text"
        id="image"
        formControlName="image"
        placeholder="Enlace Imagen"
      />
      <button type="submit">Actualizar</button>
      <!-- <button (click)="delete()">Borrar Proyecto</button> -->
    </form>
  </section>
