article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;

  figure {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(136, 229, 255) 100%);
    width: 45%;
    /* height: 15em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgba(0, 0, 0, 0.484) double;
    border-radius: 50px;
    margin: 2em 0;
    h3{
      margin: 2rem 0rem;
    }
    img {
      margin: 1.5rem 0rem;
      height: 16em;
      width: fit-content;
      border-radius: 30px;
      -webkit-filter: drop-shadow(2px 2px 0 #003893)
        drop-shadow(-2px -2px 0 #003893);
      filter: drop-shadow(2px 2px 0 #003893) drop-shadow(-2px -2px 0 #003893);
    }
    p{
      margin: 1.2rem 0rem;
      padding: 1rem;
      font-size: 2rem;  
    }

    button{
      width: 80%;
      margin: 2rem 0rem;
      height: 2rem;
      border-radius: 50px;
    }
  }

  a{
    font-size: 2em;
    margin-bottom: 1em;
  }

  p {
    text-align: center;
  }

  h3{
    font-size: 2.5em;
  }
  
  .herramientas {
    width: 100%;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
  }
}





