article {
  display: flex;
  flex-direction: column;
  align-items: center;

  figure {
    padding: 1rem;
    width: 40%;
    /* height: 15em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px rgba(166, 166, 255, 0.484) double;
    border-radius: 50px;
    margin: 1%;

    img {
      height: 80%;
      width: fit-content;
    }
  }

  p {
    text-align: center;
  }
  
}
h2{
  text-align: center;
  margin: 5vh;
  text-transform: uppercase;
  font-family: 'Charis SIL', serif;
}

.herramientas{
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}
