nav {
  font-family: "Charis SIL", serif;
  width: 100vw;
  height: 10vh;
  background-color: rgb(41,100,198);
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 22px 10px -5px rgba(0,0,0,0.44); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 22px 10px -5px rgba(0,0,0,0.44);


  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  a {
    font-size: 110%;
    text-shadow: 4px 4px 3px rgb(12, 27, 58);
    text-transform: uppercase;
    color:aqua;
    display: flex;
    display: direction row;
    transition: 0.4s;

    &:hover {
        transition: 0.4s;
      color: #4ba8ff;
      transform: scale(1.25);
    }
  }

  .list{
    margin-top: 0.5em;
   }

  img {
    margin-top: 0.5em;
    width: 3.5em;
  }

  
}
