*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    background-image:url("https://www.getmanfred.com/images/landing/bg-hero.svg") ;
    background-repeat: no-repeat;
    


    /* @media (min-width: 42rem) {
    padding-top: 4rem;
    background-size: cover;
    background-position: center bottom;
} */
}

