*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    
}

body{
    
    background-image:url("https://semidotinfotech.com/web/images/FullStackDevelopmentCompany.jpg"), linear-gradient(90deg,rgb(1,7,58)0%, rgb(1,16,67) 60%,rgb(61,48,123) 90%, rgb(61,48,123) 106%);
    background-size: auto;
    background-repeat: no-repeat;


    /* @media (min-width: 42rem) {
    padding-top: 4rem;
    background-size: cover;
    background-position: center bottom;
} */
}

