.banner {
    color: whitesmoke;
    display: flex;
    width: 100%;
    margin-bottom: 100vh;
    

    &_izq {
        margin: 13em 6em;
        width: 20%;

        &>img {
            width: 100%;
            border-radius: 1000px;
            
        }
    }

    &_der {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 2.5em;
            margin-bottom: 3em;
            text-align: center;
            margin-top: 1em;
        }

        p{
            font-size: 2em;
            margin-bottom: 3em;
            text-align: center;
        }

        li{
            font-size: 1.5em;
            margin-bottom: 2em;
            text-align: center;
        }

    }

}